.git
.github
.gradle
build
out
*.iml
.idea
.vscode
*.log
*firebase-adminsdk*.json
*adminsdk*.json
*firebase-service-account*.json
*service-account*.json
*service_account*.json
firebase-admin*.json
docs
README.md
